@model formularz.Models.Dane
@{
}
<h1>Wynik</h1>
Potwierdzam Twoje dane
<br />
Imie: @Model.Imie
<br />
Email: @Model.Nazwisko
<br />
Temat: @Model.Email
<br />
Tresc: @Model.Password
<br />
Tresc: @Model.PasswordConfirmation
<br />
Tresc: @Model.Phone
<br />
Tresc: @Model.Wiek
<br />